<!DOCTYPE html>
<html>
<body>

<div id="container" class="container_12">
  
  <div id="profile_banner" class="grid_12 alpha omega">
      <div id="name" class="center">
        <%= current_user.name %>
      </div>
      
      <div class="separator"></div>
      
      <div id="tagline" class="center">
        share what you make
      </div>
      
      <div id="flipbook">
        <%= render partial: "form", locals: {book: @book, user: @user} %>
      </div>
  </div>
  
  <div id="buffer2" class="grid_12 alpha omega">
      <% if @photo == true %>
      <div id="buff_text2">
        FLIPBOOK PHOTOS
      </div>
      <% else %>
      <div id="buff_text2">
        ADD PHOTOS TO YOUR FLIPBOOK
      </div>
      <% end %>
  </div>
  
  <div id="main_button" class="grid_12 alpha omega">
    <%= render partial: "photos/form" %>
  </div>
  
  
  <div id="dropbox_photos" class="grid_12 alpha omega">
    
  
  
  </div>
  
  <div class="push"></div>
        
</div>

</body>
</html>